body {
  margin-top: 36px;
	font-family: Asap, sans-serif;
}

a:link,
a:hover,
a:visited,
a.active {
  color: #67AAC6;
}

li,
p {
  line-height: 1.5;
}

.navbar {
  background-color: #666666;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  color: #eeeeee;
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background: #dddddd;
  color: black;
}

.anchor{
  display: block;
  height: 36px;
  margin-top: -36px;
  visibility: hidden;
}

.container {
  padding: 18px;
  margin-top: 30px;
  width: 60%;
  margin: 0 auto;
}
